.hero-container
{
  position:relative;
  z-index: 0;
}
.hero-text
{
  position:relative;
  z-index: 100;
}
.hero-backdrop
{
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  height:100%;
  background-size: cover;
  background-position: center center;
  opacity: 0.4;
}